{% extends 'base_generic.html' %}
{% block content %}
    <h2 style="color:brown;">Booking List</h2><br>
    <table class="table">
        <tr>
            <th>Room Type</th>
            <th>Book UserName</th>
            <th>Booking Date</th>
        </tr>
        {% for booking in booking_list %}
        <tr>
            {% if user == booking.name %} 
                <td>{{booking.room}}</td>
                <td><a href="{% url 'booking-detail' booking.pk %}">{{ booking }}</a></td> 
                <td>{{booking.post_date}}</td>
            {% endif %}
        </tr>  
        {% endfor %}
    </table>
{% endblock %}