{% extends "base_generic.html" %}

{% block content %}
  <h1>All Hotel Rooms</h1>
    {% if room_list %}
        <ul>
            {% for room in room_list %}
                <li>
                    <p>
                        <img src="{{ room.photo.url }}" width="250" height="150"/>
                        <a href="{{ room.get_absolute_url }}">{{ room.name }} </a>  : <strong> {{room.price}}</strong>
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no rooms.</p>
    {% endif %}
{% endblock %}
