{% extends "base_generic.html" %}

{% block content %}
  <h2>Welcome to Price Hotel!!!</h2>
  <p>The rooms of the upper floors feature elegant designs in a classic environment. Each room is equipped with a coffee machine.</p>
  <p>These floors feature more spacious rooms, such as suite rooms and rooms that can accommodate up to three guests.</p>
  {% load static %}
  <img src="{% static 'images/diy_django_mini_blog_models.png' %}" alt="UML diagram" style="width: 555px;height: 540px;">
{% endblock %}